[Unit]
Description=FruitNanny DHT Humidity and Temperature service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /opt/fruitnanny/bin/dht11_mqtt.py
WorkingDirectory=/opt/fruitnanny
#Restart=always
KillSignal=SIGTERM
KillMode=process

[Install]
WantedBy=multi-user.target

