[Unit]
Description=FruitNanny app service
After=network.target audio.sevice video.service janus.service
#Wants=audio.service video.service janus.service nginx.service
Wants=janus.service nginx.service

[Service]
User=pi
Type=simple
ExecStart=/usr/bin/node server/app.js
WorkingDirectory=/opt/fruitnanny
LimitNOFILE=65536
Restart=always
KillSignal=SIGTERM
KillMode=process

[Install]
WantedBy=multi-user.target
